{
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "no-console": "off",
    "no-use-before-define": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off"
  },
  "globals": {
    "browser": "readonly",
    "chrome": "readonly",
    "document": "readonly",
    "fetch": "readonly",
    "HttpRequest": "readonly",
    "Menus": "readonly",
    "Notifier": "readonly",
    "Scripting": "readonly",
    "Storage": "readonly"
  }
}
